.styled_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-style: oblique;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled_table th,
.styled_table td {
    padding: 12px 15px;
}

.styled_table tbody tr {
    border-bottom: 1px solid #6e6e6e;
}

.styled_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled_table tbody tr:last-of-type {
    border-bottom: 2px solid #a2a7a6;
}

.text_center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.home {
    position: absolute;
    top: 10px;
    border: 0px solid white;
    background-color: #009879;
    cursor: pointer;
    padding: 7px 15px;
    margin: 7px 15px;
    border-radius: 5px;
}
h1{
    color: rgb(249, 129, 129);
}
.home_link{
    color: white;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
}